@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=KoHo:wght@500&display=swap');

/* VARIABLES */
:root{
    --title: #f8c27a;
    --textShadow: 0 2px 2px rgba(0,0,0,.7);
    --boxShadow: 0 2px 2px rgba(0,0,0,.2);
}

/* RESET CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cv{
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    position: fixed;
    top: 225px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    font-family: 'KoHo', sans-serif;
}

#arrow{
    display: inline-flex;
    position: fixed;
    max-width: 180px;
    top: 10%;
    right: 37%;
    transform: rotate(25deg);
}

body{
    font-size: 16px;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.container{
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--boxShadow);
}

h1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 45px;
    margin-bottom: 15px;
    color: var(--title);
    text-shadow: var(--textShadow);
    display: inline-block;
}

.vies{
    margin: 10px;
}

.fas{
    margin-left: 15px;
    font-size: 50px;
    background: -webkit-linear-gradient(315deg, rgba(255,0,0,1) 0%, rgba(218,0,0,1) 58%, rgba(0,0,0,1) 100%); );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.far{
    color: rgba(0, 0, 0, 0.8) !important;
    margin-left: 15px;
    font-size: 50px;
}

#inputBox{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 5px;
}

#inputBox > label {
    display: block;
    margin-bottom: 8px;
}

input,
button{
    outline: none;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
}

button{
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
    transform: translateY(-2px);
    background-color: rgb(0, 184, 184);
}

p#message{
    margin: 20px auto 0 auto;
}

#rejouer{
    display: none;
    margin: 20px auto 0 auto;
}

#details{
    font-weight: bold;
    font-size: 10px;
    margin-top: 5px;
}

.credits{
    font-size: 14px;
    margin-top: 40px;
}
.credits a{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.8);
}

@media screen and (max-width: 700px) {
    .cv{
        top: 20px;
    }
    #arrow{
        display: none;
    }
    .fa-heart{
        font-size: 35px;
    }
}